langchain
langchain-community
faiss-cpu
sentence-transformers
pypdf
unstructured
transformers
accelerate
huggingface-hub
torch
openai
python-dotenv
notebook
pdfplumber
fastapi 
uvicorn 
jinja2
google-generativeai
google-genai
langchain-google-genai

